{%include 'Main/base.html'%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/myAdmin">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Parcel Offices</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    {%for customer in allCustomers%}
                    {%for i in station%}
                    {%if forloop.counter is forloop.parentloop.counter%}
                    <div class="col-md-3 py-3">
                        {%if customer.is_active%}
                        <div class="card tab-card" style="box-shadow: 0px 0px 10px #33BB33;">
                            {%else%}
                            <div class="card tab-card" style="box-shadow: 0px 0px 10px #EF5350;">
                                {%endif%}
                                <div class="card-header tab-card-header">
                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one{{customer.id}}" role="tab" aria-controls="One" aria-selected="true">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="two-tab" data-toggle="tab" href="#two{{customer.id}}" role="tab" aria-controls="Two" aria-selected="false">Info</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="three-tab" data-toggle="tab" href="#three{{customer.id}}" role="tab" aria-controls="Three" aria-selected="false">Permission</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active p-3" id="one{{customer.id}}" role="tabpanel" aria-labelledby="one-tab">
                                        <div class="float-left pb-3">
                                            <h5 class="card-title">{{forloop.parentloop.counter}} - {{i.station_name}} ({{customer.first_name}})</h5>
                                            <p class="card-text"><strong>User</strong> - {{customer.last_name}}<br>
                                                <strong>ID</strong> - {{customer.email}}</p>
                                            <a href="#" class="btn btn-primary btn-sm">About</a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-3" id="two{{customer.id}}" role="tabpanel" aria-labelledby="two-tab">
                                        <p class="card-text"><strong>Phone -</strong> {{i.phone}}</p>
                                        <p class="card-text mb-2"><strong>Joined at -</strong> {{customer.date_joined}}</p>
                                        <p class="card-text"><strong>Address -</strong> {{i.location}}</p>
                                        <p class="card-text"><strong>Map -</strong> {{i.lat}}, {{i.long}}</p>
                                    </div>
                                    <div class="tab-pane fade px-3 py-2" id="three{{customer.id}}" role="tabpanel" aria-labelledby="three-tab">
                                        <!-- <h5 class="card-title">{{customer.is_active}}</h5> -->
                                        <p class="card-text"></p>
                                        <form method="post" name="f1">{% csrf_token %}
                                            <div class="custom-control custom-switch form-froup mx-3">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1{{customer.id}}" name="activebtn" {%if customer.is_active%}checked{%endif%}>
                                                <label class="custom-control-label" for="customSwitch1{{customer.id}}"> Active</label>
                                            </div><br><br>
                                            <button type="submit" name="submit" value="{{customer.id}}" class="btn btn-sm btn-primary">Save</button>
                                            {% if perms.auth.delete_user %}
                                            <button type="submit" name="delete" value="{{customer.id}}" class="btn btn-sm btn-danger">Delete</button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>